#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.App {
  text-align: center;
}

.App-logo {
  height: 32px;
  pointer-events: none;
  margin-right: 20px;
}

.App-header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App-loader {
  position: relative;
}
